<h1> Stock Streak</h1>


<h4>Include copy for how the program works.... such as:</h4>
<ul>
  <li>

    <strong>Your goal</strong> is to pick a winner every day.
  </li>
  <li>
    <strong>If the stock rises</strong>, your streak continues; if not, start a new streak.
  </li>
  <li>
    <strong>Be the first</strong> to reach a streak of 20 days and win $5,000
  </li>
</ul>
