// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.btn-info{
  background-color:#0a5e80;
  border-color:#0a5e80;
  color: #ffffff !important;
}