// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.btn-info{
  background-color:#0a5e80;
  border-color:#0a5e80;
  color: #ffffff !important;
}



.leaderboard_current_user {
  color: Blue !important;
}

#login-wrapper input[type="email"], #login-wrapper input[type="password"] {
  width: 240px;
  border: 1px solid #aaa;
}
.block-signup {
  display: inline-block;
  width: 100%;
}
#error_explanation h2{
  font-size: 20px;
  color: red;
}
.sign-up-btn
{
  margin-top: 10px;
}
