<p>Welcome to the Benzinga Stock Picker <%= @email %>!</p>
<br/>
<p>You can confirm your account email through the link below:</p>
<br/>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
