<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Benzinga Zing Talk</title>
  <style type="text/css">

  body,p,td { color:#333333; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
  a, a:link, a:visited { color: blue; text-decoration: none; }
  img { border: 0; }

  @media screen and (max-device-width: 480px){
    table[class="one"]   { background-color: #ffffff !important; }
    td[class="two"]      { font-size: 36px !important; }
  }

  </style>
</head>
<body bgcolor="#bfbfbf" style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">

<table bgcolor="#0c4869" border="0" cellpadding="0" cellspacing="0" width="100%" id="tableone">
  <tr>
    <td align="center" bgcolor="#0c4869">
      <table bgcolor="#0c4869" border="0" cellpadding="0" cellspacing="0" width="630" class="inner">
        <tr>
          <td>
            <table cellpadding="10" width="100%" bgcolor="#0c4869">
              <tr>
                <td style="color:#ffffff; font-size:18px;"><a href="http://www.benzinga.com/" style="color:#ffffff; font-weight:bold;"><img src="http://cdn3.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/logo.jpg" width="156" height="54" alt="Benzinga.com" border="0" /></a></td>
                <td align="right" style="color:#ffffff; font-size:18px;"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="10" width="100%" bgcolor="#255b78" id="datetable" style="border-radius: 10px 10px 0 0;">
              <tr>
                <td width="300" style="color:#ffffff; font-size:18px;">
                 <%= Time.now.strftime("%A, %B %d %Y") %>
                </td>
                <td align="right">
                  <a href="https://www.facebook.com/Benzinga?v=app_7146470109" style="margin:2px;"><img src="http://cdn5.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/social-icons/png/facebook.png" width="34" height="34" alt="Facebook" border="0" /></a>
                  <a href="https://twitter.com/benzinga" style="margin:2px;"><img src="http://cdn4.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/social-icons/png/twitter.png" width="34" height="34" alt="Twitter" border="0" /></a>
                  <a href="http://www.linkedin.com/company/benzinga" style="margin:2px;"><img src="http://cdn4.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/social-icons/png/linkedin.png" width="34" height="34" alt="LinkedIn" border="0" /></a>
                  <a href="https://plus.google.com/110971701518125066702" style="margin:2px;"><img src="http://cdn5.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/social-icons/png/googleplus.png" width="34" height="34" alt="Google+ Plus" border="0" /></a>
                  <a href="http://feeds.benzinga.com/benzinga" style="margin:2px;"><img src="http://cdn4.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/social-icons/png/rss.png" width="34" height="34" alt="RSS Feed" border="0" /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="style-spacing" height="25">&nbsp;</td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:-25px 0 0 0;" id="tabletwo">
  <tr>
    <td align="center">
      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="630" class="wrapper">
        <tr>
          <td bgcolor="#ffffff">
            <table bgcolor="#ffffff" border="0" cellpadding="10" cellspacing="0" width="630" class="inner">
              <tr>
                <td valign="top">
                  <a href="http://pro.benzinga.com/"><img src="http://cdn3.benzinga.com/sites/all/modules/custom/bz_custom/images/newsletter/ad-filler-160x600.jpg" width="160" height="600" border="0" /></a>
                </td>
                <td valign="top">
                  <%= yield %>
                 </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="font-size:14px; text-align:center; padding:10px 0 10px 0;" align="center">
             See More:
             <a href="http://www.benzinga.com/news" style="text-decoration:underline; color:#0c4869;">News</a>,
             <a href="http://www.benzinga.com/news/earnings" style="text-decoration:underline; color:#0c4869;">Earnings</a>,
             <a href="http://www.benzinga.com/analyst-ratings" style="text-decoration:underline; color:#0c4869">Ratings</a>,
             <a href="http://www.benzinga.com/after-hours-center" style="text-decoration:underline; color:#0c4869;">After Hours</a>,
             <a href="http://www.benzinga.com/markets" style="text-decoration:underline; color:#0c4869;">Markets</a>,
             <a href="http://www.benzinga.com/trading-ideas" style="text-decoration:underline; color:#0c4869;">Ideas</a>             &amp;
             <a href="http://www.benzinga.com/tech" style="text-decoration:underline; color:#0c4869;">Tech</a>          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table cellpadding="0" cellspacing="0" width="630" >
        <tr>
          <td align="center" bgcolor="#255b78" style="border-radius:0 0 10px 10px;">
            <table border="0" cellpadding="15" cellspacing="0" width="100%">
              <tr>
                <td align="center" style="font-size:11px; color:#ffffff;">
                  <a href="http://www.benzinga.com/" style="text-decoration:underline; color:#ffffff;">www.Benzinga.com</a>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size:11px; color:#ffffff;">
                  Copyright <a href="http://www.benzinga.com" style="color:#dfdfdf; font-weight:bold;">Benzinga</a>.  24471 West 10 Mile Road, Southfield, MI 48033
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />&nbsp;
</body>
</html>

